<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.craterradar">
    <!-- FOR INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- FOR CAMERA SERVICES -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" /> <!-- FOR READ EXTERNAL STORAGE -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- FOR WRITE IN EXTERNAL SERVICES -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" /> <!-- FOR LOCATION SERVICES -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo_name"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminSide.PotholeDetailsAdmin"></activity>
        <activity android:name=".AdminSide.UserDetailsAdmin" />
        <activity
            android:name=".AdminSide.AdminLoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AdminSide.Admin_host"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".UserSide.AddPotholeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".UserSide.RouteInfoSheet"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- Google Map Matadata -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/KEY_MAP" />

        <activity
            android:name=".UserSide.UserSide"
            android:theme="@style/ThemeForCraterRadar" />
        <activity
            android:name=".Main2Activity"
            android:theme="@style/ThemeForCraterRadar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>